body {
	font-family: "Roboto", sans-serif;
	background: var(--bg-body);
	margin: 0;
	padding-top: 15px;
}

:root {
	--white: #ffffff;
	--black: #010101;
	--color-title: #009688;
	--gray: #757575;
	--bg-body: #ECECEC;
	--grey: #eae3e3;
}

.container {
	background: var(--white);
	margin: 10px 0;
	padding-bottom: 15px;
}

.container-fuild {
	margin: 0 25px;
	margin-bottom: 50px;
}

h1 {
	font-size: 32px;
	color: var(--black);
}

h3 {
	font-size: 17px;
}

p {
	color: var(--black) !important;
	margin: 0;
}

.icon-color {
	color: var(--color-title);
}

.text-content {
	color: var(--gray);
	margin: 0;
	font-weight: 700;
}

.top-content .text-content {
	color: var(--gray);
	/* margin: 10px 0; */
	padding: 10px 0;
	font-weight: 300;
}

.mr-main .text-content {
	color: var(--gray);
	margin: 10px 0;
	font-weight: 300;
	font-size: 13px;
}

.mr-main .fw-content {
	font-weight: 600;
}

.skill .text-content {
	font-size: 20px;
}

.color-text-icon {
	color: var(--color-title);
}

.space {
	background: var(--white);
	font-weight: 100;
	margin: 0 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	opacity: 0.2;
}

.bg-common {
	background: var(--color-title);
}

.mr-main {
	margin: 20px 15px;
}

.content-left,
.content-right {

	-webkit-box-shadow: 0px 0px 4px 2px rgba(198, 198, 198, 1);
	-moz-box-shadow: 0px 0px 4px 2px rgba(198, 198, 198, 1);
	box-shadow: 0px 0px 4px 2px rgba(198, 198, 198, 1);
}

.content-left {
	margin-bottom: 30px;
}

.text-ct {
	color: var(--black);
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
}

.hr-right {
	background: var(--white);
	font-weight: 100;
	margin: 0 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	opacity: 0.2;
}

@media screen and (min-width: 320px) {
	.content-space {
		margin-bottom: 30px !important;
		margin-top: 30px !important;
	}
	.content-right .skill {
		margin-bottom: 30px;
	}
	/* sesion top */
	.container .top {
		height: 230px;
		margin-bottom: 15px;
		background-image: url('assets/img/vvv.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.container .top h1 {
		position: absolute;
		top: 170px;
		left: 40px;
	}
	.top-content {
		display: flex;
		align-items: baseline;
		margin: 0 15px;
	}
	.skill {
		display: flex;
		align-items: baseline;
		margin: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.top-content .fa {
		padding: 10px 0;
		font-size: 20px;
	}
	.top-content .text-content {
		font-size: 15px;
	}
	.skill .fa {
		font-size: 20px;
		/* margin-left: 10px;
        */
		margin-right: 15px;
	}
	.content-right {
		margin-top: 5px;
		margin-bottom: 10px;
		padding: 15px 0;
	}
	.content-right .skill .fa {
		font-size: 40px;
		/* margin-left: 10px;
        */
		margin-right: 20px;
	}
	.content-right .skill .text-content {
		font-size: 30px;
		font-weight: 500;
	}
	.item-skill {
		background: var(--grey);
		border-radius: 30px;
		height: 15px;
		width: 100%;
	}
	.sub-item-90 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 90%;
		text-align: center;
		/* text-align: center;
        line-height: 1.9;
        */
	}
	.sub-item-80 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 80%;
		text-align: center;
		/* text-align: center;
        line-height: 1.9;
        */
	}
	.sub-item-75 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 75%;
		text-align: center;
		/* text-align: center;
        line-height: 1.9;
        */
	}
	.sub-item-50 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 50%;
		text-align: center;
		/* text-align: center;
        line-height: 1.9;
        */
	}
	.percent {
		display: table-cell;
		vertical-align: middle;
		color: var(--white);
		font-size: 12px;
	}
	/* languages */
	.item-english {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-english {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 100%;
		text-align: center;
		/* text-align: center;
        line-height: 1.9;
        */
	}
	.item-Spanish {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-Spanish {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 50%;
		text-align: center;
	}
	.item-German {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-German {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 30%;
		text-align: center;
	}
	/* sision Work Experience */
	.main {
		padding: 10px 20px;
		margin: 0 10px;
	}
	.main .icon-text {
		display: flex;
		align-items: baseline;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.main .icon-text .date {
		margin: 0 20px;
		font-size: 13px;
		font-weight: 500;
	}
	.bg-blue {
		color: var(--white);
		padding: 3px 7px;
		border-radius: 5px;
		margin: 0 3px;
	}
	/* .text-ct{
        color: black;
        font-size: 17px;
        font-weight: 100;
   } */
	footer {
		/* background:var(--white); */
		padding-top: 10px;
		padding-bottom: 10px;
		color: var(--white);
		font-size: 12px;
	}
	.item-ft {
		text-align: center;
	}
	.icon-ft {
		font-size: 12px;
	}
	.item-ft-title {
		font-size: 13px;
		font-weight: 100;
	}
}

@media screen and (min-width: 480px) {
	.hide {
		visibility: hidden;
	}
	.content-right .skill {
		margin-bottom: 30px;
	}
	/* sesion top */
	.container .top h1 {
		position: absolute;
		top: 170px;
		left: 40px;
	}
	.top-content {
		display: flex;
		align-items: baseline;
		margin: 0 15px;
	}
	.skill {
		display: flex;
		align-items: baseline;
		margin: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.top-content .fa {
		margin-right: 20px;
		font-size: 20px;
	}
	.top-content .text-content {
		font-size: 15px;
	}
	.skill .fa {
		font-size: 20px;
		/* margin-left: 10px;
        */
		margin-right: 15px;
	}
	.item-skill {
		background: var(--grey);
		border-radius: 30px;
		height: 15px;
		width: 100%;
	}
	.sub-item-90 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 90%;
		text-align: center;
	}
	.sub-item-80 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 80%;
		text-align: center;
	}
	.sub-item-75 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 75%;
		text-align: center;
	}
	.sub-item-50 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 50%;
		text-align: center;
	}
	.percent {
		display: table-cell;
		vertical-align: middle;
		color: var(--white);
		font-size: 12px;
	}
	/* languages */
	.item-english {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-english {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 100%;
		text-align: center;
	}
	.item-Spanish {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-Spanish {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 50%;
		text-align: center;
	}
	.item-German {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-German {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 30%;
		text-align: center;
	}
	/* sision Work Experience */
	.main {
		padding: 10px 20px;
		margin: 0 10px;
	}
	.main .icon-text {
		display: flex;
		align-items: baseline;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.main .icon-text .icon {
		font-size: 15px;
		margin-left: 3px;
	}
	.main .icon-text .date {
		margin: 0 20px;
		font-size: 13px;
		font-weight: 500;
	}
	.bg-blue {
		color: var(--white);
		padding: 3px 7px;
		border-radius: 5px;
		margin: 0 3px;
	}
	/* .text-ct{
        color: black;
        font-size: 17px;
        font-weight: 100;
   } */
	footer {
		background: var(--white);
		padding-top: 10px;
		padding-bottom: 10px;
		color: var(--white);
		height: 50px;
		font-size: 12px;
	}
	.item-ft {
		text-align: center;
	}
	.icon-ft {
		font-size: 12px;
	}
	.item-ft-title {
		font-size: 13px;
		font-weight: 100;
	}
}

@media screen and (min-width: 768px) {
	.hide {
		visibility: visible;
	}
	.content-right .skill {
		margin-bottom: 30px;
	}
	.content-space {
		margin-bottom: 30px !important;
		margin-top: 15px !important;
	}
	/* sesion top */
	.container .top {
		height: 220px;
		margin-bottom: 15px;
		background-image: url('assets/img/vvv.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.container .top h1 {
		position: absolute;
		top: 170px;
		left: 40px;
	}
	.top-content {
		display: flex;
		align-items: baseline;
		margin: 0 15px;
	}
	.skill {
		display: flex;
		align-items: baseline;
		margin: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.top-content .fa {
		margin-right: 20px;
		font-size: 20px;
	}
	.top-content .text-content {
		font-size: 15px;
	}
	.skill .fa {
		font-size: 20px;
		margin-right: 15px;
	}
	.item-skill {
		background: var(--grey);
		border-radius: 30px;
		height: 15px;
		width: 100%;
	}
	.sub-item-90 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 90%;
		text-align: center;
	}
	.sub-item-80 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 80%;
		text-align: center;
	}
	.sub-item-75 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 75%;
		text-align: center;
	}
	.sub-item-50 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 50%;
		text-align: center;
	}
	.percent {
		display: table-cell;
		vertical-align: middle;
		color: var(--white);
		font-size: 12px;
	}
	/* languages */
	.item-english {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-english {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 100%;
		text-align: center;
	}
	.item-Spanish {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-Spanish {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 50%;
		text-align: center;
	}
	.item-German {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-German {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 30%;
		text-align: center;
	}
	/* sision Work Experience */
	.main {
		padding: 10px 20px;
		margin: 0 10px;
	}
	.main .icon-text {
		display: flex;
		align-items: baseline;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.main .icon-text .icon {
		font-size: 15px;
		margin-left: 3px;
	}
	.main .icon-text .date {
		margin: 0 20px;
		font-size: 13px;
		font-weight: 500;
	}
	.bg-blue {
		color: var(--white);
		padding: 3px 7px;
		border-radius: 5px;
		margin: 0 3px;
	}
	/* .text-ct{
        color: black;
        font-size: 17px;
        font-weight: 100;
   } */
	.clearn {
		clear: both;
	}
	footer {
		background: var(--white);
		padding-top: 10px;
		padding-bottom: 10px;
		color: var(--white);
		height: auto;
		font-size: 12px;
	}
	.item-ft {
		text-align: center;
	}
	.icon-ft {
		font-size: 12px;
	}
	.item-ft-title {
		font-size: 13px;
		font-weight: 100;
	}
	.content-right {
		width: 68%;
		float: right;
		margin: 1px;
	}
	.content-left {
		width: 30%;
		float: left;
		margin: 1px;
	}
}

@media screen and (min-width: 1024px) {
	.hide {
		visibility: visible;
	}
	.content-right .skill {
		margin-bottom: 30px;
	}
	.content-space {
		margin-bottom: 30px !important;
		margin-top: 15px !important;
	}
	/* sesion top */
	.container .top {
		height: 270px;
		margin-bottom: 15px;
		background-image: url('assets/img/vvv.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.container .top h1 {
		position: absolute;
		top: 220px;
		left: 40px;
	}
	.top-content {
		display: flex;
		align-items: baseline;
		margin: 0 15px;
	}
	.skill {
		display: flex;
		align-items: baseline;
		margin: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.top-content .fa {
		margin-right: 20px;
		font-size: 20px;
	}
	.top-content .text-content {
		font-size: 15px;
	}
	.skill .fa {
		font-size: 20px;
		margin-right: 15px;
	}
	.item-skill {
		background: var(--grey);
		border-radius: 30px;
		height: 15px;
		width: 100%;
	}
	.sub-item-90 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 90%;
		text-align: center;
	}
	.sub-item-80 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 80%;
		text-align: center;
	}
	.sub-item-75 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 75%;
		text-align: center;
	}
	.sub-item-50 {
		border-radius: 30px;
		display: table;
		height: 15px;
		width: 50%;
		text-align: center;
	}
	.percent {
		display: table-cell;
		vertical-align: middle;
		color: var(--white);
		font-size: 12px;
	}
	/* languages */
	.item-english {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-english {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 100%;
		text-align: center;
	}
	.item-Spanish {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-Spanish {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 50%;
		text-align: center;
	}
	.item-German {
		background: var(--grey);
		border-radius: 30px;
		height: 20px;
		width: 100%;
	}
	.sub-item-German {
		border-radius: 30px;
		display: table;
		height: 20px;
		width: 30%;
		text-align: center;
	}
	/* sision Work Experience */
	.main {
		padding: 10px 20px;
		margin: 0 10px;
	}
	.main .icon-text {
		display: flex;
		align-items: baseline;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.main .icon-text .icon {
		font-size: 15px;
		margin-left: 3px;
	}
	.main .icon-text .date {
		margin: 0 20px;
		font-size: 13px;
		font-weight: 500;
	}
	.bg-blue {
		color: var(--white);
		font-weight: 500;
		padding: 3px 7px;
		border-radius: 5px;
		margin: 0 3px;
	}
	/* .text-ct{
        color: black;
        font-size: 17px;
        font-weight: 100;
   } */
	.clearn {
		clear: both;
	}
	footer {
		width: 100%;
		background: var(--white);
		padding-top: 10px;
		padding-bottom: 10px;
		color: var(--white);
		height: auto;
		font-size: 12px;
	}
	.item-ft {
		text-align: center;
	}
	.icon-ft {
		font-size: 12px;
	}
	.item-ft-title {
		font-size: 13px;
		font-weight: 100;
	}
	.content-right {
		width: 69%;
		float: right;
		margin: 1px;
	}
	.content-left {
		width: 30%;
		float: left;
		margin: 1px;
	}
}